{% extends 'erm/base.html' %}
{% block content % }

<div class="col-md-6">
    <div class="card mb-5">
        <div class="card-header"> Complete Details of Employees</div>
        <div class="card-body">
            <h2> {{ employee.first_name|capfirst}} {{ employee.last_name|capfirst}}</h2>
            <hr>
            <p><strong> Email ID:</strong> <span class="test-secondary"> {{employee.email_id}}</span></p>
            <p><strong> Phone:</strong> <span class="test-secondary"> {{employee.phone_number}}</span></p>
            <p><strong> Address:</strong> <span class="test-secondary"> {{employee.address}}</span></p>
            <p><strong> Gender:</strong> <span class="test-secondary"> {{employee.gender}}</span></p>
            <p><strong> Date of Birth:</strong> <span class="test-secondary"> {{employee.dob}}</span></p>
            <p><strong> Joining Date:</strong> <span class="test-secondary"> {{employee.joining_date}}</span></p>
            <p><strong> Job Assigned:</strong></p>
            {% if employee.jobs.all %}
            {% for job in employee.jobs.all %}
                <li class="list-group-item">{{ job.name }}</li>
            {% endfor %}
            {% endif %}
        </p>

        </div>
    </div>
</div>



